PORT=8000
MONGODB_URL="mongodb+srv://username:password@cluster.mongodb.net/database"
JWT_SECRET="your-random-secret-key"
OPENROUTER_API_KEY=sk-or-v1-your-openrouter-api-key
RAZORPAY_KEY_ID=rzp_test_your_razorpay_key
RAZORPAY_KEY_SECRET=your_razorpay_secret
